{% extends 'base.html.twig' %}




<link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{ asset('css/font-awesome.min.css')}}" rel="stylesheet">

{% block stylesheets %}
    <link href="{{ asset('css/admin_agenda.css')}}" rel="stylesheet">
    <link href="{{ asset('responsive-nav.css')}}" rel="stylesheet">

{% endblock %}

<nav class="menu-left">
    <header>
        <span><img src="https://placekitten.com/g/50/50" alt="Imagem Menu" class="img-circle"></span>
        <span>Name</span>
    </header>

    <ul>
        <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> Agenda</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> Formation</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Evènements</a></li>

    </ul>
</nav>

<div class="content-center">
    <header>
        <div class="top">
            <ul>
                <li><a href="#"><span class="glyphicon glyphicon-edit"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-comment"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
            </ul>

            <div>
                <a href="#"><span class="glyphicon glyphicon-log-out"></span></a>
            </div>
        </div>

    </header>

    <div class="content-body">


    </div>
